<div class="container">
  <div class="row my-4 ml-5">
    <h4 class="bg-light text-center col-3">ジャンル編集</h4>
  </div>
 
  <%= form_with model:@genre, url: admin_genre_path do |f| %>
  <div class="d-flex justify-content-between align-items-center col-6">
      <p><%= f.label :"ジャンル名" %></p>
      <p><%= f.text_field :name %></p>
      <p><%= f.submit '変更を保存', class: "btn btn-success btn-lg" %></p>
  </div>
  <% end %>
  
</div>